<% if logged_in? %>
  <%= button_to 'Logout', logout_path, method: :delete %>
<% else %>
  <%= link_to 'Login', login_path, method: :get %>
<% end %>
<%= link_to 'Items', items_path %>
<%= button_to cart_index_path, method: :get, class: "btn btn-success"  do %>
    <span class="glyphicon glyphicon-shopping-cart"></span> <%= "Cart (#{load_cart.count_items})" %>
<% end %>